*{
  box-sizing: border-box;
}
.d-table{
  display: table;
  width: 100%;
  border-collapse: collapse;
}
.d-tr{
  display: table-row;
}
.d-td{
  display: table-cell;
  text-align: center;
  border: none;
  border: 1px solid #aaa;
  vertical-align: middle;
}
.d-th{
  display: table-cell;
  text-align: center;
  border: none;
  border: 1px solid #aaa;
  vertical-align: middle;
  font-weight: bold
}
.d-td:not(.no-p){
  padding: 4px;
}

.row1 {
  background: #333333;
}
.row2 {
  background: #555555;
}

.error{
  color: #FF7575;
  margin auto 0;
  padding 0;

}

.col-md-1,.col-md-2,.col-md-3,.col-md-4,.col-md-5,.col-md-6,.col-md-7,.col-md-8 {

  }

  .footer{

    position: fixed; /* Фиксированное положение */
    left: 0; bottom: 0; /* Левый нижний угол */
    padding: 10px; /* Поля вокруг текста */
    color: #fff; /* Цвет текста */
    width: 100%; /* Ширина слоя */

  }
  .window{
  width: 50%;
  padding: 20px;
  text-align: center;
  margin: auto;
  }

  .form-row{
  border-bottom: 1px solid;
  padding-bottom: 10px;
    margin-bottom: 20px;
  }

  .elemrnt {
  display: block;

  }
