<form name="main_menu" method="post">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
        <nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark">
            <a class="navbar-brand" href="#">e-Plan</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="table">План</a>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Фільтри
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#">Заходи відділу</a>
                            <a class="dropdown-item" href="#">Заходи на місяць</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Відмінити фільтри</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Дії
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="add_event">Додати захід</a>
                            <a class="dropdown-item" href="modal_change_event">Змінити захід</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="delete_event">Видалити захід</a>
                        </div>
                    </li>

                    <li class="nav-item active">
                        <a class="nav-link" href="#">План заходів Київського Палацу дітей та юнацтва <span
                                class="sr-only">(current)</span></a>
                    </li>
                </ul>

            </div>
            {% include 'user_panel.html' %}
        </nav>
    </div>
</form>